<header class="text-gray-600 bg-body-font">
  <div
    class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row"
  >
    <nav class="flex flex-wrap items-center text-base lg:w-2/5 space-x-4 md:ml-auto">
      <a href="{{ url_for('index') }}" class="py-1 px-2.5 font-semibold rounded-sm no-underline">

          {% include 'icons/logo_name.svg' %}

      </a>
      <!-- <a href="#" class="py-1 px-2.5 font-semibold rounded-sm bg-blue-100 text-blue-600 no-underline hover:text-blue-500">Personnels</a> -->
      <!-- <a href="#" class="py-1 px-2.5 font-semibold rounded-sm bg-blue-800 bg-opacity-10 text-blue-900 no-underline hover:text-blue-700">Documentation</a>
      <a href="#" class="hover:text-gray-900"></a> -->
    </nav>
    <a
      class="flex items-center order-first mb-4 font-medium text-gray-900 lg:order-none lg:w-1/5 title-font lg:items-center lg:justify-center md:mb-0"
    >

    </a>
    <div class="inline-flex ml-5 lg:w-2/5 lg:justify-end lg:ml-0 space-x-1 ">
      {% if active_session() %}
      <div
        class="inline-flex cursor-not-allowed items-center px-2.5 py-1 mt-4 text-base bg-blue-800 bg-opacity-10 border-0 rounded no-underline font-semibold text-blue-900 hover:text-blue-700 md:mt-0"
      >
        {{ session_user().nom }} {{ session_user().prenom }}
      </div>
      <a
        href="{{ url_for('logout') }}"
        class="inline-flex items-center px-2.5 py-1 mt-4 text-base bg-blue-800 bg-opacity-10 border-0 rounded no-underline font-semibold text-blue-900 hover:text-blue-700 md:mt-0"
      >
        Déconnexion
      </a>
      {% else %}
      Connexion
      {% endif %}
    </div>
  </div>
</header>
