{% extends "default.html" %}

{% block page_title %} Dossiers Patients {% endblock %}

{% block page_body %}

<div
class="container flex flex-wrap py-10 px-5 mx-auto md:flex-row"
>
  
<div class="text-4xl font-medium text-blue-900 w-full">
  Portail d'administration
</div>


<div class="flex flex-wrap -mx-1 w-full">

  <div class="my-4 px-1 w-full">

    <div class="inline-flex justify-between w-full border-b-3 border-blue-900">
      <!-- Titre de section Départements -->
        <div class="text-2xl font-medium text-blue-900">
          Dossiers patients
          <div class="text-sm mb-2">
            Recherchez dans la liste les dossiers par identifiant ou nom de patient.
          </div>
        </div>
        <a href="#" class="my-auto text-blue-900 ">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M19 6V5a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v1h-2V5a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v1H3v14h10.09a5.47 5.47 0 0 1-.09-1a6 6 0 0 1 8-5.66V6m-1 9v3h3v2h-3v3h-2v-3h-3v-2h3v-3z" fill="currentColor"></path></svg>
        </a>
      <!-- Fin de titre de section Départements -->
    </div>

    <div class="flex flex-wrap w-full mt-2 overflow-hidden">
      <!-- Case de département -->
      {% for d in data.DEPARTEMENTS %}
      <div class="w-1/4 border-white border-3 rounded-sm bg-blue-200 inline-flex overflow-hidden">
        {% include 'icons/departements/default.svg' %}
        <div class="my-auto mr-2 text-blue-900 font-semibold text-xl truncate">
          {{ d.nom }}
          <div class="mt-1.5 space-x-2">
            <a href="#" class="rounded-sm no-underline bg-blue-900 text-gray-100 text-sm py-1 px-5"> Gérer </a>
            <a href="#" class="rounded-sm no-underline bg-blue-900 text-gray-100 text-sm py-1 px-5"> Supprimer </a>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- Fin de case département -->
    </div>

{% endblock %}

<!-- <section class="text-gray-500 bg-white body-font">
  <div class="container px-1 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-6">
      <h1
        class="sm:text-4xl text-3xl font-medium title-font mb-2 text-green-900"
      >
        Espace Patients
      </h1>
    </div>

    <div
      class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:px-0 items-end"
    >
      <div
        class="relative sm:mr-4 mb-4 sm:mb-0 flex-grow w-full"
        data-children-count="1"
      >
        <label for="recherche" class="leading-7 text-sm text-green-900"
          >Barre de Recherche</label
        >
        <input
          type="recherche"
          id="recherche"
          name="recherche"
          class="w-full bg-green-100 border border-gray-600 focus:border-green-500 text-base outline-none text-black py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <button
        class="flex ml-auto text-white bg-green-900 border-0 py-2 px-6 focus:outline-none hover:bg-green-600"
      >
        Rechercher
      </button>
    </div>
  </div>

  <div class="container px-5 py-6 mx-auto">
    <div class="flex flex-wrap -m-2">
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <a href="./dossier.html">
          <div
            class="h-full flex items-center border-green-900 border-2 p-4 rounded-lg"
          >
            <img
              alt="challenge"
              class="w-16 h-16 bg-green-900 object-contain object-center flex-shrink-0 rounded-full mr-4"
              src="https://raw.githubusercontent.com/eri/shid/main/static/assets/default_profile_patient.png"
            />
            <div class="flex-grow">
              <h2 class="text-green-900 title-font font-medium">Nom Prénom</h2>
              <p class="text-green-900">Date entree</p>
              <p class="text-green-900">Activite</p>
            </div>
          </div>
        </a>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <a href="./dossier.html">
          <div
            class="h-full flex items-center border-green-900 border-2 p-4 rounded-lg"
          >
            <img
              alt="challenge"
              class="w-16 h-16 bg-green-900 object-contain object-center flex-shrink-0 rounded-full mr-4"
              src="https://raw.githubusercontent.com/eri/shid/main/static/assets/default_profile_patient.png"
            />
            <div class="flex-grow">
              <h2 class="text-green-900 title-font font-medium">Nom Prénom</h2>
              <p class="text-green-900">Date entree</p>
              <p class="text-green-900">Activite</p>
            </div>
          </div>
        </a>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <a href="./dossier.html">
          <div
            class="h-full flex items-center border-green-900 border-2 p-4 rounded-lg"
          >
            <img
              alt="challenge"
              class="w-16 h-16 bg-green-900 object-contain object-center flex-shrink-0 rounded-full mr-4"
              src="https://raw.githubusercontent.com/eri/shid/main/static/assets/default_profile_patient.png"
            />
            <div class="flex-grow">
              <h2 class="text-green-900 title-font font-medium">Nom Prénom</h2>
              <p class="text-green-900">Date entree</p>
              <p class="text-green-900">Activite</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto mb-10">
      <button
        class="flex ml-auto text-white bg-green-900 border-0 py-2 px-6 focus:outline-none hover:bg-green-600"
      >
        Actualiser les données
      </button>
    </div>
  </div>
</section> -->