{% extends "default.html" %}

{% block page_navbar %} {% endblock %}
{% block page_title %} Administration {% endblock %}

{% block page_body %}

<div class="container flex flex-col flex-wrap py-20 px-5 mx-auto">

    <div class="mt-6">
        <img
        src="https://cdn.discordapp.com/attachments/795652759302701126/818503520692338738/logo.png"
        class="w-20 ml-2 mb-2"
        />
        <div class="text-4xl font-semibold text-blue-900">
            Bienvenue, démarrons !
        </div>
        <div class="mt-2 ml-0.5 text-lg font-normal text-blue-900">
            Merci d'avoir choisi SHID, plateforme de déploiement rapide de structure hospitalière.<br>
            Nous allons vous poser quelques questions simples avant de déployer pleinement l'infrastructure.
        </div>
        <div id="confirmMessage" class="text-lg my-4 p-2 font-semibold bg-green-600 text-gray-100 hidden">
            Setup avec succès.
        </div>
        <div id="redirectLogin" class="mt-5 hidden">
            <a
            href="/"
            id="redirect_login"
            class="py-1.5 px-5 rounded-sm text-lg font-semibold bg-green-900 text-gray-100 no-underline">
                Se connecter
            </a>
        </div>
    </div>

    <div id="setup-1" class="mt-10 block">
        <div class="mb-4 text-3xl font-normal text-blue-900">
            Identifiez la structure
        </div>
        
        <div class="mb-1 text-lg font-normal text-blue-900">
            Type de structure
        </div>
        <div class="flex inline-flex space-x-3 text-blue-900">
            <div>
                <input type="radio" id="type_hôpital" name="typestructure" value="hôpital" checked>
                <label for="case1">Hôpital</label>
            </div>
          
            <div>
                <input type="radio" id="type_clinique" name="typestructure" value="clinique">
                <label for="case2">Clinique</label>
            </div>
        </div>

        <div class="mb-1 mt-3 text-lg font-normal text-blue-900">
            Nom de la structure
        </div>
        <input id="nom_structure" type="text" placeholder="Uniquement le nom (exemple: Lariboisière)" class="w-100 p-2 border-blue-900 border-2">

        <div class="mb-1 mt-3 text-lg font-normal text-blue-900">
            Adresse de la structure
        </div>
        <input id="adresse_structure" type="text" placeholder="10 Avenue de la Santé" class="w-100 p-2 border-blue-900 border-2">
        
        <div class="flex flex-row mb-5 space-x-2">
            <div class="1/5">
                <div class="mb-1 mt-3 text-lg font-normal text-blue-900">
                    Code postal
                </div>
                <input id="cp_structure" type="text" placeholder="75000" class="w-25 p-2 border-blue-900 border-2">
            </div>

            <div class="1/4">
                <div class="mb-1 mt-3 text-lg font-normal text-blue-900">
                    Ville
                </div>
                <input id="ville_structure" type="text" placeholder="Paris" class="w-73 p-2 border-blue-900 border-2">
            </div>

        </div>

        <a
        href="#"
        id="setup-continuer-1"
        class="mb-1 px-4 py-1.25 rounded-sm text-lg font-normal bg-blue-900 text-gray-100 no-underline">
            Continuer
        </a>

    </div>

    <div id="setup-2" class="mt-10 hidden">
        <div class="mb-4 text-3xl font-normal text-blue-900">
            Passons aux chiffres
            <div class="mt-2 text-sm">
                Ces informations pourront être ajustés plus tard dans vos paramètres et ne sont demandés qu'à titre indicatif.
            </div>
        </div>
        
        <div class="mb-1 text-lg font-semibold text-blue-900">
            La structure administre t-elle des vaccins contre la COVID-19 ?
        </div>
        <div class="flex inline-flex space-x-3 text-blue-900">
            <div>
                <input type="radio" id="covid19_structure_true" name="covid_structure" value="True">
                <label for="case1">Oui</label>
            </div>
          
            <div>
                <input type="radio" id="covid19_structure_false" name="covid_structure" value="False" checked>
                <label for="case2">Non</label>
            </div>

        </div>

        <div class="mb-1 mt-3 text-lg font-normal text-blue-900">
            Si oui, précisez le nombre de doses disponibles quotidiennement.<br>
        </div>
        <input id="covid_dose" type="text" placeholder="Exemple: 200" class="w-30 p-2 border-blue-900 border-2">

        <div class="mb-2 mt-3 text-lg font-semibold text-blue-900">
            Nombre de lits disponibles dans la structure
            <div class="text-sm font-normal">
                Incluant l'ensemble des services et départements. La donnée doit être la plus précise que possible. <br>Dans le cadre du contexte sanitaire, ce chiffre sera utile pour des suivis en temps réel de l'affluence dans l'infrastructure.
            </div>
        </div>
        <input id="capacite_lit" type="text" placeholder="Exemple: 300" class="w-30 p-2 border-blue-900 border-2">
        
        <div class="mt-5 space-x-2">
            <a
            href="#"
            id="setup-precedent-2"
            class="px-4 py-1.25 rounded-sm text-lg font-normal bg-blue-900 text-gray-100 no-underline">
                Précédent
            </a>
            <a
            href="#"
            id="setup-continuer-2"
            class="px-4 py-1.25 rounded-sm text-lg font-normal bg-blue-900 text-gray-100 no-underline">
                Continuer
            </a>
        </div>

    </div>

    <div id="setup-3" class="mt-10 hidden">
        <div class="mb-4 text-3xl font-normal text-blue-900">
            Quelques petits paramètres
            <div class="mt-2 text-sm">
                Ces paramètres pourront être ajustés plus tard depuis la page d'administration.
            </div>
        </div>

        <div class="mb-2 mt-3 text-lg font-semibold text-blue-900">
            Nom d'utilisateur administrateur
            <div class="text-sm font-normal">
                Définissez le nom d'utilisateur du compte chargé de la gestion du déploiement de l'infrastructure.
            </div>
        </div>
        <input id="username_admin" type="text" placeholder="Exemple: admin" class="w-80 p-2 border-blue-900 border-2">

        <div class="flex flex-row mb-5 space-x-2">
            <div class="1/5">
                <div class="mb-1 mt-3 text-lg font-semibold text-blue-900">
                    Mot de passe administrateur
                    <div class="text-sm font-normal">
                        Définissez le mot de passe de l'administrateur.
                    </div>
                </div>
                <input id="password_admin" type="password" class="w-80 p-2 border-blue-900 border-2">
            </div>

            <div class="1/4">
                <div class="mb-1 mt-3 text-lg font-semibold text-blue-900">
                    Confirmer le mot de passe
                    <div class="text-sm font-normal">
                        Confirmez le mot de passe administrateur.
                    </div>
                </div>
                <input type="password" class="w-80 p-2 border-blue-900 border-2">
            </div>

        </div>

        <div class="mb-2 mt-3 text-lg font-semibold text-blue-900">
            Adresse e-mail administrateur
            <div class="text-sm font-normal">
                Définissez l'adresse e-mail de l'administrateur.
            </div>
        </div>
        <input id="email_admin" type="email" placeholder="Exemple: admin@sante.fr" class="w-80 p-2 border-blue-900 border-2">
        
        <div class="mt-3 text-lg font-semibold text-blue-900">
            Autoriser l'ensemble du personnel à visualiser les statistiques en temps réel ?
            <div class="font-normal text-sm">
                Cela inclut uniquement le nombre de lits disponibles, de patients hospitalisés et de personnes reçus dans les 24 heures aux urgences et réanimation.
            </div>
        </div>

        <div class="flex inline-flex space-x-3 text-blue-900">
            <div>
                <input type="radio" id="public_stats_true" name="public_stats" value="True" checked>
                <label for="case1">Oui</label>
            </div>
          
            <div>
                <input type="radio" id="public_stats_false" name="public_stats" value="False">
                <label for="case2">Non</label>
            </div>

        </div>
        
        <div class="mt-5 space-x-2">
            <a
            href="#"
            id="setup-precedent-3"
            class="px-4 py-1.25 rounded-sm text-lg font-normal bg-blue-900 text-gray-100 no-underline">
                Précédent
            </a>
            <a
            href="#"
            id="valider"
            class="px-4 py-1.25 rounded-sm text-lg font-normal bg-blue-900 text-gray-100 no-underline">
                Terminer
            </a>
        </div>

    </div>

</div>
{% endblock %}

{% block page_scripts %}
<script src="{{ url_for('static', filename='./js/setup.js') }}"></script>
{% endblock %}