{% extends "default.html" %}

{% block page_title %} Accueil soignants {% endblock %} 

{% block page_body %}

<div class="text-center mx-auto my-8">
  <p class="text-xl text-blue-900">Structure hospitalière</p>
  <h1 class="text-2xl font-bold text-blue-900">LARIBOISIÈRE</h1>
  <p class="text-sm text-blue-900">75010 Paris</p>
</div>

{% include "components/stats.html" %}

<div class="lg:mx-28 my-8 lg:w-1/5 rounded-lg">
  <div class="flex">
    <img
      class="bg-blue-600 my-auto mx-4 w-12 h-12 object-cover object-center flex-shrink-0 rounded-full"
      src="https://cdn.discordapp.com/attachments/795652759302701126/818868001423097906/default_profile.png"
    />
    <div class="whitespace-nowrap my-auto">
      <h1 class="text-xl font-semibold text-blue-900">PIERRE DUPONT</h1>
      <p class="text-sm text-blue-900">Médecin urgentiste</p>
    </div>
  </div>
</div>

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container lg:px-32 px-4 py-4 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 xl:w-1/2 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-blue-900 flex flex-col relative overflow-hidden"
        >
          <h1
            class="text-3xl text-blue-900 pb-4 mb-4 border-b border-gray-200 leading-none"
          >
            Espace Personnel
          </h1>

          <button
            class="flex items-center mt-auto text-white bg-blue-900 border-0 py-2 px-4 w-full focus:outline-none hover:bg-blue-800 rounded"
          >
            Gérer votre profil
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-auto"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
          <p class="text-xs text-gray-500 mt-3">
            Consultez votre profil, emploi du temps et notes
          </p>
        </div>
      </div>

      <div class="p-4 xl:w-1/2 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-blue-900 flex flex-col relative overflow-hidden"
        >
          <span
            class="bg-blue-900 text-white px-3 py-1 text-xs absolute right-0 top-0 rounded-bl"
            >Important</span
          >
          <h2 class="text-3xl text-blue-900 title-font mb-1">
            Espace patients
          </h2>
          <button
            class="flex items-center mt-auto text-white bg-blue-900 border-0 py-2 px-4 w-full focus:outline-none hover:bg-blue-800 rounded"
          >
            Gérer les dossiers
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-auto"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
          <p class="text-xs text-gray-500 mt-3">
            Consultez, modifiez, supprimez les dossiers patients
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
