{% extends "default.html" %}

{% block page_title %} Connexion {% endblock %}

{% block page_body %}

<div class="bg-white body-font border-solid border-black">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center text-white">
    <img class="object-contain md:object-scale-down w- h-48 w-full" src="https://cdn.discordapp.com/attachments/795652759302701126/818503520692338738/logo.png">
  </div>   
</div>

<section class="text-black bg-blue-900 body-font">
  <div class="container px-auto py-0 flex flex-wrap items-center">
    <div class="md:w-3/5 bg-white p-8 flex flex-col mx-auto md:mt-20">
      <h2 class="text-black text-lg font-medium title-font mb-5">
        Connexion SHID
      </h2>
      <form action="" method="post">
        <div class="relative mb-2">
          <label for="identifiant" class="leading-7 text-sm text-black">
            Identifiant
          </label>
          <input
            type="text"
            id="identifiant"
            name="identifiant"
            class="w-full bg-blue-100 border border-gray-600 focus:border-blue-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
        <div class="relative mb-5">
          <label for="password" class="leading-7 text-sm text-black">
            Mot de passe
          </label>
          <input
            type="password"
            id=""
            name="password"
            class="w-full bg-blue-100 border border-gray-600 focus:border-blue-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
        <input
          type="submit"
          class="text-black bg-blue-400 border-0 py-2 px-8 focus:outline-none hover:bg-blue-500 text-lg border-gray-600 focus:border-blue-500 transition-colors duration-200 ease-in-out"
          name="connexion"
          value="Connexion"
        />
      </form>
    </div>
  </div>
</section>

{% enblock %}
