{% extends "default.html" %}

{% block page_title %} Non autorisé {% endblock %}
{% block page_navbar %} {% endblock %}

{% block page_body %}

<div
class="container flex flex-col flex-wrap py-24 px-10 mx-auto md:flex-row"
>

  <div class="mt-2">
    <div class="text-9xl font-semibold text-blue-900">
        403
    </div>
    <div class="ml-2 text-4xl font-semibold text-blue-900">
        Non autorisé
        <div class="text-xl font-normal">
            Vous ne disposez pas des permissions nécessaires pour consulter cette page.
        </div>
        <div class="p-2.5 my-5 font-mono bg-gray-900 text-gray-50 rounded-md text-lg font-normal">
            {{ e }}
        </div>
    </div>
    <div class="ml-2 mt-4">
        <a
        href="{{ url_for('index') }}"
        class="py-1 justify-items-auto font-semibold rounded-sm text-gray-100 bg-blue-900 no-underline">
            <span class="my-auto w-full px-2">Retour à l'accueil</span>
        </a>
    </div>

</div>