<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="<?=PATH_CSS?>/site.css"/>
    <link rel="shortcut icon" href="<?=REP_IMAGES?>/favicon.ico" type="image/x-icon"/>
    <title> SHID - Accueil </title>    
  </head>

<header class="text-gray-600 bg-body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
      <a class="mr-5 hover:text-gray-900">Patients</a>
      <a class="mr-5 hover:text-gray-900">Personnels</a>
      <a class="mr-5 hover:text-gray-900">Documentation</a>
      <a class="hover:text-gray-900"></a>
    </nav>
    <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0">
      <img src="https://cdn.discordapp.com/attachments/795652759302701126/818503520692338738/logo.png" class="w-10" />
    </a>
    <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
      <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Connexion</button>
    </div>
  </div>
</header>

    <body class="bg-white">
        <section class="text-gray-500 bg-gray-50 body-font">
            <div class="flex flex-wrap justify-center">
              <div class="p-2 lg:w-1/5 my-2 mx-46 rounded-lg bg-blue-200 bg-opacity-40">
                <div class="flex flex-wrap my-1">
                  <img class="bg-blue-400 my-auto ml-2 w-14 h-14 object-cover object-center rounded-full hidden lg:block" src="https://media.discordapp.net/attachments/795652759302701126/796759313367826472/logo_small_icon_only_inverted.png" />
                  <div class="whitespace-nowrap my-auto ml-4">
                    <div class="text-m sm:text-xl text-blue-500">Lits disponibles</div>
                    <div class="inline-flex font-semibold text-5xl text-blue-500">500</div>
                  </div>
                </div>
              </div>
            
              <div class="p-2 lg:w-1/5 my-2 mx-4 rounded-lg bg-blue-200 bg-opacity-40">
                <div class="flex flex-wrap my-1">
                  <img class="bg-blue-400 my-auto ml-2 w-14 h-14 object-cover object-center rounded-full hidden xl:block" src="https://media.discordapp.net/attachments/795652759302701126/796759313367826472/logo_small_icon_only_inverted.png" />
                  <div class="whitespace-nowrap my-auto ml-4">
                    <div class="text-m sm:text-xl text-blue-500">Patients hospitalisés</div>
                    <div class="inline-flex font-semibold text-5xl text-blue-500">500</div>
                  </div>
                </div>
              </div>
            
              <div class="p-2 lg:w-1/5 my-2 mx-46 rounded-lg bg-blue-200 bg-opacity-40">
                <div class="flex flex-wrap my-1">
                  <img class="bg-blue-400 my-auto ml-2 w-14 h-14 object-cover object-center rounded-full hidden xl:block" src="https://media.discordapp.net/attachments/795652759302701126/796759313367826472/logo_small_icon_only_inverted.png" />
                  <div class="whitespace-nowrap my-auto ml-4">
                    <div class="text-m sm:text-xl text-blue-500">Oui</div>
                    <div class="inline-flex font-semibold text-5xl text-blue-500">500</div>
                  </div>
                </div>
              </div>
            
              <div class="p-2 lg:w-1/5 my-2 mx-4 rounded-lg bg-blue-200 bg-opacity-40">
                <div class="flex flex-wrap my-1">
                  <img class="bg-blue-400 my-auto ml-2 w-14 h-14 object-cover object-center rounded-full hidden xl:block" src="https://media.discordapp.net/attachments/795652759302701126/796759313367826472/logo_small_icon_only_inverted.png" />
                  <div class="whitespace-nowrap ml-4">
                    <div class="text-m sm:text-xl text-blue-500">Lits disponibles</div>
                    <div class="inline-flex font-semibold text-5xl text-blue-500">500</div>
                  </div>
                </div>
              </div>
            </div>
               
              <div class="container px-5 py-24 mx-auto">
                <div class="text-center mb-20">
                  <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-black mb-4"> Personnel médical</h1>
                </div>    
                <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
                  <div class="p-2 sm:w-1/2 w-full">
                    <div class="bg-blue-500 bg-opacity-90 flex p-4 h-full items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="white" class="bi bi-person-badge-fill w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 16 16">
                         <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
                        </svg>
                      <span class="title-font font-medium text-white">Consultation des Personnels médicaux</span>
                    </div>
                  </div>
                  <div class="p-2 sm:w-1/2 w-full">        
                    <div class="bg-blue-500 bg-opacity-90 flex p-4 h-full items-center">          
                        <svg xmlns="http://www.w3.org/2000/svg" fill="white" class="bi bi-archive w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 16 16">
                          <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                      <span class="title-font font-medium text-white">Consultation des Dossiers</span>
                    </div>
                  </div>                
                </div>     
              </div>
            </section>            
    </body>

<footer class="text-gray-500 bg-white body-font static bottom-0 w-full">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <p class="text-sm text-black sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-blue-500 border-opacity-90 sm:py-2 sm:mt-0 mt-4">© 2021 SHID —
      <a href="https://estiam.education" class="text-black ml-1" target="_blank" rel="noopener noreferrer">Réalisé par Eray O. - Rayane K. - Aksel G. - Alexis T. dans le cadre du Projet-intermatiere de Mai 2021</a>
    </p>
  </div>
</footer>

</html>   