<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="<?=PATH_CSS?>/site.css"/>
    <link rel="shortcut icon" href="<?=REP_IMAGES?>/favicon.ico" type="image/x-icon"/>
    <title> SHID - Accueil </title>    
  </head>

<header class="text-gray-600 bg-body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
      <a class="mr-5 hover:text-gray-900">Patients</a>
      <a class="mr-5 hover:text-gray-900">Personnels</a>
      <a class="mr-5 hover:text-gray-900">Documentation</a>
      <a class="hover:text-gray-900"></a>
    </nav>
    <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0">
      <img src="https://cdn.discordapp.com/attachments/795652759302701126/818503520692338738/logo.png" class="w-10" />
    </a>
    <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
      <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Connexion</button>
    </div>
  </div>
</header>

    <body class="bg-white">
        <section class="text-gray-500 bg-white body-font">
            <div class="container px-1 py-24 mx-auto">
              <div class="flex flex-col text-center w-full mb-6">
                <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-blue-900">Espace Patients</h1>
              </div>
          
              <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:px-0 items-end">
                <div class="relative sm:mr-4 mb-4 sm:mb-0 flex-grow w-full" data-children-count="1">
                  <label for="recherche" class="leading-7 text-sm text-blue-900">Barre de Recherche</label>
                  <input type="recherche" id="recherche" name="recherche" class="w-full bg-blue-100 border border-gray-600 focus:border-blue-500 text-base outline-none text-black py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <button class="flex ml-auto text-white bg-blue-400 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600">Rechercher</button>
              </div>
            </div>
          
            <div class="container px-5 py-6 mx-auto">
                <div class="flex flex-wrap -m-2"> 
                  <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <a href="./dossier.html">     
                    <div class="h-full flex items-center border-blue-900 border-2 p-4 rounded-lg">
                      <img alt="challenge" class="w-16 h-16 bg-blue-900 object-contain object-center flex-shrink-0 rounded-full mr-4" src="https://cdn.discordapp.com/attachments/795652759302701126/818868001423097906/default_profile.png">
                      <div class="flex-grow">
                        <h2 class="text-blue-900 title-font font-medium">Nom Prénom</h2>
                        <p class="text-blue-900">Date entree</p>
                        <p class="text-blue-900">Activite</p>
                      </div>
                    </div>
                    </a>
                  </div>
                  <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <a href="./dossier.html">     
                    <div class="h-full flex items-center border-blue-900 border-2 p-4 rounded-lg">
                      <img alt="challenge" class="w-16 h-16 bg-blue-900 object-contain object-center flex-shrink-0 rounded-full mr-4" src="https://cdn.discordapp.com/attachments/795652759302701126/818868001423097906/default_profile.png">
                      <div class="flex-grow">
                        <h2 class="text-blue-900 title-font font-medium">Nom Prénom</h2>
                        <p class="text-blue-900">Date entree</p>
                        <p class="text-blue-900">Activite</p>
                      </div>
                    </div>
                    </a>
                  </div>
                  <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <a href="./dossier.html">     
                    <div class="h-full flex items-center border-blue-900 border-2 p-4 rounded-lg">
                      <img alt="challenge" class="w-16 h-16 bg-blue-900 object-contain object-center flex-shrink-0 rounded-full mr-4" src="https://cdn.discordapp.com/attachments/795652759302701126/818868001423097906/default_profile.png">
                      <div class="flex-grow">
                        <h2 class="text-blue-900 title-font font-medium">Nom Prénom</h2>
                        <p class="text-blue-900">Date entree</p>
                        <p class="text-blue-900">Activite</p>
                      </div>
                    </div>
                    </a>
                  </div>                                    
                </div>
                <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto mb-10">
                    <button class="flex ml-auto text-white bg-blue-400 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600">Actualiser les données</button>
                  </div>                
              </div>
            </div>
          </section>          
    </body>

<footer class="text-gray-500 bg-white body-font static bottom-0 w-full">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <p class="text-sm text-black sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-blue-500 border-opacity-90 sm:py-2 sm:mt-0 mt-4">© 2021 SHID —
      <a href="https://estiam.education" class="text-black ml-1" target="_blank" rel="noopener noreferrer">Réalisé par Eray O. - Rayane K. - Aksel G. - Alexis T. dans le cadre du Projet-intermatiere de Mai 2021</a>
    </p>
  </div>
</footer>

</html>   