<header class="text-gray-600 bg-body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
      <a class="mr-5 hover:text-gray-900">Patients</a>
      <a class="mr-5 hover:text-gray-900">Personnels</a>
      <a class="mr-5 hover:text-gray-900">Documentation</a>
      <a class="hover:text-gray-900"></a>
    </nav>
    <a
      class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0"
    >
      <img
        src="https://cdn.discordapp.com/attachments/795652759302701126/818503520692338738/logo.png"
        class="w-10"
      />
    </a>
    <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
      <button
        class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
      >
        Connexion
      </button>
    </div>
  </div>
</header>
