<section class="text-gray-500 bg-gray-50 body-font">
  <div class="flex flex-wrap justify-center">
    <div class="p-2 lg:w-1/5 my-2 mx-4 rounded-lg bg-blue-200 bg-opacity-40">
      <div class="flex flex-wrap my-1">
        <img
          class="bg-blue-400 my-auto ml-2 w-14 h-14 object-cover object-center rounded-full hidden xl:block"
          src="https://media.discordapp.net/attachments/795652759302701126/796759313367826472/logo_small_icon_only_inverted.png"
        />
        <div class="whitespace-nowrap my-auto ml-4">
          <div class="text-m sm:text-xl text-blue-500">
            Lits disponibles 
          </div>
          <div class="inline-flex font-semibold text-5xl text-blue-500">
            500
          </div>
        </div>
      </div>
    </div>

    <div class="p-2 lg:w-1/5 my-2 mx-4 rounded-lg bg-blue-200 bg-opacity-40">
      <div class="flex flex-wrap my-1">
        <img
          class="bg-blue-400 my-auto ml-2 w-14 h-14 object-cover object-center rounded-full hidden xl:block"
          src="https://media.discordapp.net/attachments/795652759302701126/796759313367826472/logo_small_icon_only_inverted.png"
        />
        <div class="whitespace-nowrap my-auto ml-4">
          <div class="text-m sm:text-xl text-blue-500">
            Patients hospitalisés
          </div>
          <div class="inline-flex font-semibold text-5xl text-blue-500">
            500
          </div>
        </div>
      </div>
    </div>

    <div class="p-2 lg:w-1/5 my-2 mx-4 rounded-lg bg-blue-200 bg-opacity-40">
      <div class="flex flex-wrap my-1">
        <img
          class="bg-blue-400 my-auto ml-2 w-14 h-14 object-cover object-center rounded-full hidden xl:block"
          src="https://media.discordapp.net/attachments/795652759302701126/796759313367826472/logo_small_icon_only_inverted.png"
        />
        <div class="whitespace-nowrap my-auto ml-4">
          <div class="text-m sm:text-xl text-blue-500">Urgences</div>
          <div class="inline-flex font-semibold text-5xl text-blue-500">
            500
          </div>
        </div>
      </div>
    </div>

    <div class="p-2 lg:w-1/5 my-2 mx-4 rounded-lg bg-blue-200 bg-opacity-40">
      <div class="flex flex-wrap my-1">
        <img
          class="bg-blue-400 my-auto ml-2 w-14 h-14 object-cover object-center rounded-full hidden xl:block"
          src="https://media.discordapp.net/attachments/795652759302701126/796759313367826472/logo_small_icon_only_inverted.png"
        />
        <div class="whitespace-nowrap ml-4">
          <div class="text-m sm:text-xl text-blue-500">Réanimation</div>
          <div class="inline-flex font-semibold text-5xl text-blue-500">
            500
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
